* {
  padding: 0px;
  margin-left: 30px;
}

body {
  background-color: #fefefe;
  padding: 0px;
}

.parent {

}

.allrocks {
  position: absolute;
  width: 40%;
  height: 100%;
  padding-bottom: 25px;
  float: left;
  margin-right: 6%;
  opacity: 100%;
}

.rock1 {
  position: absolute;
  width: 40%;
  height: 100%;
  padding-bottom: 25px;
  float: left;
  margin-right: 6%;
}

.rock2 {
  position: absolute;
  width: 40%;
  height: 100%;
  padding-bottom: 25px;
  float: left;
  margin-right: 6%;
}

.rock3 {
  position: absolute;
  width: 40%;
  height: 100%;
  padding-bottom: 25px;
  float: left;
  margin-right: 6%;
}

.rock4 {
  position: absolute;
  width: 40%;
  height: 100%;
  padding-bottom: 25px;
  float: left;
  margin-right: 6%;
}

.rock5 {
  position: absolute;
  width: 40%;
  height: 100%;
  padding-bottom: 25px;
  float: left;
  margin-right: 6%;
}

img:hover{
  display: block;
  background: #fefefe;
}


.text {
  float: inherit;
  position: relative;
  padding-left: 800px;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
}
