body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .container {
	text-align: center;
  }
  
  .content {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
  }

  .sticker-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px; /* Adjust this value to set the spacing between stickers */
  }
  
  .sticker {
	width: auto;
	height: 200px; /* Set the height you prefer for the stickers */
  }
  