* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: left;
    padding: 150px 0;
    padding-left: 50px;
    font-size: 100px;
    font-weight: 100px;
    line-height: 1.4;
    letter-spacing: .5rem;
    color: #fefefe;
    background-color: #000000;
    font-family: 'Archivo Black', sans-serif;
}

.alternate:nth-child(odd) {
  color: #000000;
  transition: all 2s linear;
}

.alternate:nth-child(odd):hover {
  background-color: #fefefe;
  cursor: pointer;
}

div{
  float: left;
  white-space: nowrap;
}
h1 {
  font-size: 150px;
}

a:link {
  color: #fefefe;
}

a:visited {
  color: #fefefe;
}

h5 {
  position: absolute;
  top: 50px;
  font-size: 25px;
  align: left;
}
