body {
  background-color: #fefefe;
  padding-top: 8vh;
  padding-left: 20vw;
  padding-right: 20vw;
}

@font-face {
    font-family: 'Buttershine';
    src: url('Buttershine.otf') format('opentype');
}

.bigtext {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 45px;
  color: #000000;
}

.imgleft {
  float: left;
  width: 500px;
  height: auto;
  padding-top: 40px;
}

.buttons {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 30px;
  color: #000000;
  border-radius: 50px;
  border: 2px solid #000000;
  padding: 10px 20px;
  line-height: 100px;
}

.goback {
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 25px;
  color: #000000;
  padding-top: 30px;
}

.container {
  padding-top: 40px;
  transform: translateX(50px);
}

a {
  color: #000000;
  text-decoration: none;
}

a visited {
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {

  .bigtext {
    font-size: 30px;
  }

  .imgleft {
    float: left;
    width: 300px;
    height: auto;
  }

  .buttons {
    font-size: 20px;
  }

  .goback {
    font-size: 15px;
  }
}
