* {
    padding: 0px;
    margin: 0px;
}

body {
  background: no-repeat radial-gradient(#e66465, #9198e5);
  min-height: 100vh;
}

@font-face {
    font-family: 'Arsenica';
    src: url(ArsenicaTrial-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Ftook';
    src: url(Ftoonk-Regular.ttf) format('truetype');
}

.basic {
  padding-top: 100px;
  text-align: left;
  line-height: 1.4;
  letter-spacing: .5rem;
  color: #fefefe;
  font-family: 'Arsenica', serif;
  padding-left: 600px;

}

h1 {
  font-family: 'Arsenica', serif;
  font-size: 100px;
}

p {
  text-align: left;
  color: #FFBCD9 ;
  font-size: 100px;
  font-family: 'Ftook';
  padding-left: 100px;
  padding-top: 60px;
  letter-spacing: .5rem;
  -webkit-text-stroke: 2px #fefefe;
}

h3 {
  letter-spacing: .2rem;
  font-size: 30px;
  font-family: 'Arsenica', serif;
}

/* Dropdown Button */
.dropbtn {
  color: #fefefe;
  padding: 0px;
  font-size: 25px;
  border: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  font-family: 'Arsenica', serif;
  letter-spacing: .15rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fefefe;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #FFBCD9 ;

}

.dropdown-content h5:hover {
  color: #fefefe;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

h5 {
  font-size: 20px;
  letter-spacing: normal;
  font-family: 'Arsenica', serif;
  color: #F67FAE;
}

a:link {
  color: #fefefe;
  text-decoration: none;
}

a:visited {
  color: #fefefe;
  text-decoration: none;
}

#turn {
  transform: rotate(-90deg) translateY(-50px) translateX(150px);
  text-align:left;
  vertical-align: bottom;
  position: absolute;
  color: #fefefe;
}

.container {
  column-count: 2;
  padding-right: 500px;
}
