:root {
	--spacing: 1em;
}

@font-face {
	font-family: "Comic Sans MS";
	src: url("comic-sans-ms.woff") format("woff");
  }

#title {
	font-family: "Comic Sans MS";
	font-size: 70pt;
	padding-left: 30pt;

}
