body {
  background-color: #fefefe;
  margin: 10vh 10vw 10vh 10vw;
}

.text {
  font-size: 90pt;
  color: #000000;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
  background: 
    radial-gradient(circle, #fd8257 28%, rgba(250,251,61,1) 53%, rgba(0,212,255,1) 100%)
    var(--c,0%)/200% 100%,
    0% 100%/var(--c,0%) 0.1em no-repeat;
  -webkit-background-clip: text, padding-box;
          background-clip: text, padding-box;
  transition: 1s;
}

.text:hover {
  color: #0000;
  --c:100%;
}

.inline {
  display: inline-flex;
  justify-content: space-between;
  width: 80vw;
}

.two {
  font-size: 140pt;
  color: #000000;
  font-weight: 500;
  font-stretch: ultra-condensed;
  font-family: 'Amiri', serif;
  line-height: 200px;
  transition: 0.5s;
}

.two:hover {
  color: #fff;
  text-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.square {
  height: 150vh;
  width: 80vw;
  background: radial-gradient(#fc8e01, #ff8401, #ff7405, #fd6b28, #fe6a32, #fe6c43, #fd8257, #fe8f5b, #fd995c, #feaf63, #f4cc7e 50%, #efd4b1 60%, #efd4b1 100%);
}

.square:hover{
  height: 150vh;
  width: 80vw;
  background: radial-gradient(#2F4858, #006C85, #0073E6, #0093E5, #00B1CF, #00CDA8 50%, #00E778 60%, #68FC41 100%);
}

.phrase {
  font-size: 20pt;
  color: #000000;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: right;
  line-height: 26pt;
  padding-top: 35px;
}

.phrase:hover + .hide{
  display: block;
  color: red;
}


.hide {
  position: absolute;
  display: none;
  font-size: 12pt;
  color: #000000;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: right;
  line-height: 10pt;
  padding-top: 10px;
}

.inline2 {
  display: inline-flex;
  justify-content: space-between;
  width: 80vw;
}

.text2 {
  font-size: 90pt;
  color: #000000;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
}

.text2:hover {
  color: #fefefe;
}

.aura {
  position: absolute;
  font-size: 8pt;
  font: serif;
  text-align: center;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: #000000;
}