body {
	background-color: pink;
}

.special {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-color: #000000;
	font-size: 20px;
}


section {
  display:  flex;
  flex-direction:  column;
  justify-content: center;
  align-items:  center;
  height:  100vh;
}

.button {
  padding: 20px 50px;
  border-radius: 30px;
  background-color:  white;
  color:  black;
  font-size:  60px;
  font-size: 20px;
  text-align:  center;
  transition:  all 100ms;
}

.light {
	background-color: lightgreen;
}

.buttonOn {
	background-color: pink;
	color: white;
}