* {
    padding: 0px;
    margin: 0px;
}

html, body {
  height: 100%;
  overflow-x:hidden;
}

body {
  background: no-repeat linear-gradient(#ECFFDC,#20c959,#023020);
}

@font-face {
    font-family: 'Butter';
    src: url(Butter.otf) format('opentype');
}

@font-face {
    font-family: 'Inter';
    src: url(Inter.ttf) format('truetype');
}

.circle {
  background-color:transparent;
  border:3px solid #fefefe;
  height:1100px;
  width: 900px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position:fixed;
  right: -200px;
  top:-200px;
}

.name {
  text-align: right;
  color: #fefefe ;
  font-size: 50px;
  font-family: 'Butter';
  padding-right: 50px;
  padding-top: 20px;
  letter-spacing: auto;
  border:3px solid #fefefe;
  height:70px;
  width: 350px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position:fixed;
  right: 400px;
  top: 100px;
}

h3 {
  letter-spacing: .2rem;
  font-size: 25px;
  font-family: 'Inter', serif;
}

.topics {
  font-family: 'Butter';
  color: #fefefe;
  font-size: 80px;
}

#topics {
  font-family: 'Butter';
  color: #fefefe;
  font-size: 80px;
  padding-bottom: 10px;
}

/* Dropdown Button */
.dropbtn {
  color: #fefefe;
  padding: 0px;
  font-size: 25px;
  border: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  font-family: 'Inter', serif;
  letter-spacing: .15rem;
}

.harmonic{
  letter-spacing: .2rem;
  font-size: 25px;
  font-family: 'Inter', serif;
}

.basic {
  left:30px;
  top: 200px;
  position: relative;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fefefe;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #FFBCD9 ;

}

.dropdown-content h5:hover {
  color: #fefefe;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

h5 {
  font-size: 20px;
  letter-spacing: normal;
  font-family: 'Inter', serif;
  color: #F67FAE;
}

a:link {
  color: #fefefe;
  text-decoration: none;
}

a:visited {
  color: #fefefe;
  text-decoration: none;
}

.small {
  font-family: 'Butter', serif;
  font-size: 170px;
}

.core {
  z-index: -1;
  font-family: 'Butter', serif;
  font-size: 310px;
  color: #fefefe;
  vertical-align: text-bottom;
  position:fixed;
  bottom: 0px;
  left: 20px;
  line-height: 0.75;
  display: inline-block;
}

.inline {
  display: inline-flex;
  justify-content: space-between;
  width: 925px;
}
