* {
    padding: 0px;
    margin: 0px;
}

html, body {
  height: 100%;
}

@font-face {
    font-family: 'NewYork';
    src: url(NewYork.otf) format('opentype');
}

@font-face {
    font-family: 'Alight';
    src: url(Alight.ttf) format('truetype');
}

@font-face {
    font-family: 'Abold';
    src: url(Abold.ttf) format('truetype');
}

@font-face {
    font-family: 'Butter';
    src: url(butter.otf) format('opentype');
}

body {
    text-align: left;
    padding-left: 30px;
    letter-spacing: .5rem;
    color: #fefefe;
    background: #000000;
    font-family: 'Archivo Black', sans-serif;
}

.point {
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
  color: #fefefe;
  padding-top: 20px;
}

.alternate {
  cursor: default;
}

.alternate:nth-child(odd) {
  color: transparent;
  transition: all 2s linear;
  cursor: default;
}

.alternate:nth-child(odd):hover {
  color: #fefefe;
  cursor: default;
}

.entries {
  color: #fefefe;
  float: right;
  text-align: right;
  position: absolute;
  top: 250px;
  right: 100px;
  line-height: 50px;
}

.entry {
  font-size: 50px;
  position: relative;
  color: transparent;
}

.entry:hover {
  color: #fefefe;
  transition: all 1s linear;
}

h1 {
  font-size: 175px;
  font-weight: 100px;
  line-height: 1.6;
}

h2 {
  font-size: 175px;
  font-weight: 100px;
  line-height: 1.4;
  text-align: left;
}

a:link {
  color: #fefefe;
}

a:visited {
  color: #fefefe;
}

h5 {
  text-align: left;
  font-size: 30px;
  padding-top: 50px;
  font-family: 'Archivo Black';
}

.note {
  font-family: 'Alight';
  font-size: 20px;
  letter-spacing: .3rem;
  padding-left: 20px;
}
