* {
  background-color: : #fefefe;
  }

  @font-face {
      font-family: 'Oliver';
      src: url(oliver.ttf) format('truetype');
  }

  @font-face {
      font-family: 'RockoFLF';
      src: url(RockoFLF.ttf) format('truetype');
  }

.question {
  position: absolute;
  width: 320px;
  height: 450px;
  left: 73px;
  top: 235px;
  font-family: 'Oliver', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 90px;
  color: #000000;
}

.outline {
  color: #fefefe;
  -webkit-text-stroke: 2px #000000;
}

.link {
  font-family: 'RockoFLF', sans-serif;
  font-size: 12px;
  color: #000000;
  padding-bottom: 20px;
  position: absolute;
  left: 173px;
  top: 675px;
}

a {
  text-decoration: none;
}

.head1 {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 613px;
  top: 250px;
  border-radius: 50%;
  background: #FF0000;
}

.shoulder1 {
  position: absolute;
  width: 149px;
  height: 45px;
  left: 577px;
  top: 340px;
  background: #FF0000;
  border-radius: 50px;
}

.arm1 {
  position: absolute;
  width: 149.22px;
  height: 31.03px;
  left: 509px;
  top: 410.15px;
  background: #FF0000;
  border-radius: 50px;
  transform: matrix(0.14, -0.99, 0.99, 0.15, 0, 0);
}

.arm11 {
  position: absolute;
  width: 149.22px;
  height: 31.03px;
  left: 645px;
  top: 410.15px;
  background: #FF0000;
  border-radius: 50px;
  transform: matrix(-0.14, -0.99, -0.99, 0.15, 0, 0);
}

.body1 {
  position: absolute;
  width: 99px;
  height: 139px;
  left: 602px;
  top: 372px;
  background: #FF0000;
}

.leg1 {
  position: absolute;
  width: 196.93px;
  height: 45.56px;
  left: 525.96px;
  top: 567px;
  background: #FF0000;
  border-radius: 50px;
  transform: matrix(0, -1, 1, -0.01, 0, 0);
}

.leg11 {
  position: absolute;
  width: 196.93px;
  height: 45.56px;
  left: 579.64px;
  top: 567px;
  background: #FF0000;
  border-radius: 50px;
  transform: matrix(0, -1, 1, -0.01, 0, 0);
}

#head {
  transition: all 0.5s ease;
}

#shoulder {
  transition: all 0.5s ease;
}

#arm {
  transition: all 0.5s ease;
}

#armm {
  transition: all 0.5s ease;
}

#body {
  transition: all 0.5s ease;
}

#leg {
  transition: all 0.5s ease;
}

#legg {
  transition: all 0.5s ease;
}

.one {

}

.one:hover #head{
  left: 763px;
  top: 616.3px;
}

.one:hover #shoulder{
  transform: rotate(-27.51deg);
  left: 474px;
  top: 374.28px;
}

.one:hover #legg{
  transform: matrix(-0.53, -0.85, 0.85, -0.53, 0, 0);
  left: 594.76px;
  top: 616.3px;
}

.one:hover #leg{
  left: 450px;
  top: 639.38px;
  transform: matrix(1, -0.05, 0.05, 1, 0, 0);
}

.one:hover #body{
  left: 500px;
  top: 470.54px;
  transform: rotate(-52.05deg);
}

.one:hover #arm{
  left: 550.18px;
  top: 453.4px;
  transform: matrix(-0.53, -0.84, 0.87, -0.52, 0, 0);
}

.one:hover #armm{
  left: 582.7px;
  top: 428.29px;
  transform: matrix(-0.44, -0.91, -0.88, 0.45, 0, 0);
}


#person2head {
  transform: translateX(350px);
  background-color: #FFE600;
  transition: all 0.5s ease;
}

#person2shoulder {
  transform: translateX(350px);
  background-color: #FFE600;
  transition: all 0.5s ease;
}

#person2body {
  transform: translateX(350px);
  background-color: #FFE600;
  transition: all 0.5s ease;
}

#person2arm1 {
  transform: translateX(350px)matrix(0.14, -0.99, 0.99, 0.15, 0, 0);
  background-color: #FFE600;
  transition: all 0.5s ease;
}

#person2arm2 {
  transform: translateX(350px)matrix(-0.14, -0.99, -0.99, 0.15, 0, 0);
  background-color: #FFE600;
  transition: all 0.5s ease;
}

#person2leg2 {
  transform: translateX(350px)matrix(0, -1, 1, -0.01, 0, 0);
  background-color: #FFE600;
  transition: all 0.5s ease;
}

#person2leg1 {
  transform: translateX(350px)matrix(0, -1, 1, -0.01, 0, 0);
  background-color: #FFE600;
  transition: all 0.5s ease;
}

.two:hover #person2head {
  left: 547.22px;
  top: 339.16px;
}

.two:hover #person2leg2 {
  left: 895.7px;
  top: 650px;
  transform: matrix(1, 0.08, -0.08, 1, 0, 0);
}

.two:hover #person2leg1 {
  left: 814px;
  top: 559.84px;
  transform: matrix(0.49, -0.87, 0.87, 0.49, 0, 0);
}

.two:hover #person2body {
  left: 992.26px;
  top: 520.78px;
  transform: rotate(94.45deg);
}

.two:hover #person2shoulder{
  left: 960.19px;
  top: 410.59px;
  transform: rotate(16.5deg);
}

.two:hover #person2arm1{
  left: 811px;
  top: 480.85px;
  transform: matrix(0.14, -0.99, 0.99, 0.15, 0, 0);
}

.two:hover #person2arm2{
  left: 958.26px;
  top: 470.73px;
  transform: matrix(-0.98, -0.23, -0.21, 0.97, 0, 0);
}

#person3head {
  transform: translateX(700px);
  background-color: #0066FF;
  transition: all 0.5s ease;
}

#person3shoulder {
  transform: translateX(700px);
  background-color: #0066FF;
  transition: all 0.5s ease;
}

#person3body{
  transform: translateX(700px);
  background-color: #0066FF;
  transition: all 0.5s ease;
}

#person3arm1 {
  transform: translateX(700px)matrix(0.14, -0.99, 0.99, 0.15, 0, 0);
  background-color: #0066FF;
  transition: all 0.5s ease;
}

#person3arm2 {
  transform: translateX(700px)matrix(-0.14, -0.99, -0.99, 0.15, 0, 0);
  background-color: #0066FF;
  transition: all 0.5s ease;
}

#person3leg2 {
  transform: translateX(700px)matrix(0, -1, 1, -0.01, 0, 0);
  background-color: #0066FF;
  transition: all 0.5s ease;
}

#person3leg1 {
  transform: translateX(700px)matrix(0, -1, 1, -0.01, 0, 0);
  background-color: #0066FF;
  transition: all 0.5s ease;
}

.three:hover #person3leg1{
  left: 1182.03px;
  top: 616.41px;
  transform: matrix(-0.92, -0.39, 0.39, -0.92, 0, 0);
}

.three:hover #person3leg2{
  left: 1300.68px;
  top: 600px;
  transform: matrix(0.94, 0.34, -0.34, 0.94, 0, 0);
}

.three:hover #person3shoulder{
  left: 1296px;
  top: 407px;
  transform: rotate(16deg);
}

.three:hover #person3body{
  left: 1250px;
  top: 450.96px;
  transform: rotate(-130.48deg);
}

.three:hover #person3arm1{
  left: 1339px;
  top: 526.85px;
  transform: matrix(0.14, -0.99, 0.99, 0.15, 0, 0);
}

.three:hover #person3arm2{
  left: 1400.8px;
  top: 540.85px;
  transform: matrix(-0.14, -0.99, -0.99, 0.15, 0, 0);
}

.three:hover #person3head{
  left: 1301.02px;
  top: 320.23px;
  transform: rotate(-32deg);
}
