body {
  background: #FF98D0;
  height: 100vh;
  overflow-y: hidden;
}

.button {
  z-index: 1;
  position: absolute;
  background: linear-gradient(transparent, #Fefefe);

  color: #FF98D0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  width: 90vw;
  margin: 5vw 4vw 5vw 4vw;
  bottom: 2vh;
  font-size: 100px;
  justify-content: space-around;
  display: flex;
}

.flower:hover {
  color: #C6FE7F;
}

.heart:hover {
  color: #C6FE7F;
}

.star:hover {
  color: #C6FE7F;
}

.top {
  display: flex;
  overflow: hidden;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
}

.bottom {
  display: flex;
  overflow: hidden;
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%; 
}

.topborder {
  width: 6em;
  height: 3rem;
  background-color: #fefefe;
  border-radius: 0 0 10rem 10rem;
}

.bottomborder {
  width: 6rem;
  height: 3rem;
  background-color: #fefefe;
  border-radius: 10rem 10rem 0 0;
}

.text {
  z-index: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.18em;
  width: 90vw;
  height: 80vh;
  overflow: scroll;
  color: #fefefe;
  margin: 5vw 4vw 5vw 4vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FF98D0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fefefe;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #C6FE7F;
}

.next {
  width: 130px;
  height: 120px;
  background: radial-gradient( #FF98D0 20%, transparent, transparent);
  border-radius: 50%;
  position: relative;
  display: block;
  top: 1.75vh;
}

.next::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fefefe;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.next:hover {
  background: radial-gradient( #C6FE7F 20%, transparent, transparent);
}

.back {
  width: 130px;
  height: 120px;
  background: radial-gradient( #FF98D0 20%, transparent, transparent);
  border-radius: 50%;
  position: relative;
  display: block;
  top: 1.75vh;
}

.back::after {
  content: "";
  position: absolute;
  left: 37%;
  top: 37%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fefefe;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform: scaleX(-1)
}

.back:hover {
  background: radial-gradient( #C6FE7F 20%, transparent, transparent);
}


@media screen and (max-width: 1024px) {
  body {
    max-width: 1024px;
    overflow-x: hidden;
  }

  .top {
    top: -20px;
    display: flex;
  overflow-x: hidden;
  position: fixed; 
  left: 0;
  width: 100%; 
  }

  .bottom {
    bottom: -20px;
    display: flex;
  overflow-x: hidden;
  position: fixed; 
  left: 0;
  width: 100%; 
  }

  .button {
    z-index: 1;
    position: absolute;
    background: linear-gradient(transparent, #Fefefe);
    margin: 0 1vw 5vh 3vw;
    color: #FF98D0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 90vw;
    font-size: 70px;
    justify-content: space-around;
    display: flex;
  }

  .text {
    z-index: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em;
    width: 90vw;
    overflow: scroll;
    color: #fefefe;
    margin: 5vh 1vw 5vh 3vw;
    overflow-x: hidden;
    padding-top: 40px;
  }

 .next {
  width: 130px;
  height: 120px;
  background: radial-gradient( #FF98D0 20%, transparent, transparent);
  border-radius: 50%;
  position: relative;
  display: block;
  top: -0.5vh;
  transform: scale(0.8);
}

.back {
  width: 130px;
  height: 120px;
  background: radial-gradient( #FF98D0 20%, transparent, transparent);
  border-radius: 50%;
  position: relative;
  display: block;
  top: -0.5vh;
  transform: scale(0.8);
}
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
    overflow-x: hidden;
  }

  .top {
    top: -30px;
    display: flex;
  overflow-x: hidden;
  position: fixed; 
  left: 0;
  width: 100%; 
  }

  .bottom {
    bottom: -30px;
    display: flex;
  overflow-x: hidden;
  position: fixed; 
  left: 0;
  width: 100%; 
  }

    body {
    max-width: 1024px;
    overflow-x: hidden;
  }

  .top {
    top: -20px;
    display: flex;
  overflow-x: hidden;
  position: fixed; 
  left: 0;
  width: 100%; 
  }

  .bottom {
    bottom: -20px;
    display: flex;
  overflow-x: hidden;
  position: fixed; 
  left: 0;
  width: 100%; 
  }

  .button {
    z-index: 1;
    position: absolute;
    background: linear-gradient(transparent, #Fefefe);
    margin: 0 1vw 5vh 3vw;
    color: #FF98D0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 90vw;
    font-size: 70px;
    justify-content: space-around;
    display: flex;
  }

  .text {
    z-index: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.1em;
    width: 90vw;
    overflow: scroll;
    color: #fefefe;
    margin: 5vh 1vw 5vh 3vw;
    overflow-x: hidden;
    padding-top: 40px;
  }

 .next {
  width: 130px;
  height: 120px;
  background: radial-gradient( #FF98D0 20%, transparent, transparent);
  border-radius: 50%;
  position: relative;
  display: block;
  top: -0.5vh;
  transform: scale(0.8);
}

.back {
  width: 130px;
  height: 120px;
  background: radial-gradient( #FF98D0 20%, transparent, transparent);
  border-radius: 50%;
  position: relative;
  display: block;
  top: -0.5vh;
  transform: scale(0.8);
}
}

@media screen and (max-width: 480px) {

body {
    max-width: 480px;
    overflow-x: hidden;
  }

  .top {
    top: -35px;
    display: flex;
  overflow-x: hidden;
  position: fixed; 
  left: 0;
  width: 100%; 
  }

  .bottom {
    bottom: -35px;
    display: flex;
  overflow-x: hidden;
  position: fixed; 
  left: 0;
  width: 100%; 
  }

  .button {
    z-index: 1;
    position: absolute;
    background: linear-gradient(transparent, #Fefefe);
    margin: 0 1vw 3vh 3vw;
    color: #FF98D0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width: 90vw;
    font-size: 60px;
    justify-content: space-around;
    display: flex;
    padding-top: 20px;
  }

  .text {
    z-index: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1em;
    width: 90vw;
    overflow: scroll;
    color: #fefefe;
    margin: 5vh 1vw 5vh 3vw;
    overflow-x: hidden;
    padding-top: 40px;
  }

 .next {
  width: 130px;
  height: 120px;
  background: radial-gradient( #FF98D0 20%, transparent, transparent);
  border-radius: 50%;
  position: relative;
  display: block;
  top: -1.5vh;
  transform: scale(0.6);
}

.back {
  width: 130px;
  height: 120px;
  background: radial-gradient( #FF98D0 20%, transparent, transparent);
  border-radius: 50%;
  position: relative;
  display: block;
  top: -1.5vh;
  transform: scale(0.6);
}

  ::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
  border-radius: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
}
}